# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
pnpm-debug.log*

# todo
todo.txt

# environment variables
.env
.env.production

# Local Netlify folder
.netlify

# macOS-specific files
.DS_Store
