{
  "extends": ["stylelint-config-standard", "stylelint-config-html/astro"],
  "rules": {
    "comment-empty-line-before": "always",
    "no-empty-source": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
