<div>
  <dl class="skill-list">
    <dt class="category">Agile Software Dev</dt>
    <dd class="details">
      <ul class="row">
        <li class="high">eXtreme Programming,</li>
        <li class="high">Kanban,</li>
        <li class="middle">Scrum</li>
      </ul>
    </dd>
  </dl>

  <dl class="skill-list">
    <dt class="category">Misc</dt>
    <dd class="details">
      <ul class="row">
        <li class="high">Sketch,</li>
        <li class="high">Photoshop,</li>
        <li class="high">Illustrator,</li>
        <li class="high">LibreOffice</li>
      </ul>
    </dd>
  </dl>

  <dl class="skill-list">
    <dt class="category">OS</dt>
    <dd class="details">
      <ul class="row">
        <li class="high">macOS,</li>
        <li class="high">Linux</li>
      </ul>
    </dd>
  </dl>
</div>
