---
import Layout from '../layouts/Layout.astro'

const title = '404 | ' + import.meta.env.SITE_TITLE
const domain = import.meta.env.DOMAIN
---

<Layout title={title}>
  <div>
    <h1>Sorry, this page doesn't exist!</h1>
    <p>
      This page or the given path (e.g.: {`www.${domain}/iDontExist`}) is either
      misspelled or not available anymore.
    </p>
    <p>:_(</p>
  </div>
</Layout>
