/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2');
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('../fonts/open-sans-v29-latin-600.woff2') format('woff2');
}
